* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 12px;
  background-color: blueviolet;
}

header, main, footer {
  max-width: 400px;
  margin: 0 auto;
  font-family: 'DM Serif Text', serif;  

}

header {
  margin: 1rem auto;
  border: 1px solid yellow;
  padding: 0.5rem;
  background-color: blue;
  display: grid;
  grid-template-columns: 200px 1fr;
  align-items: center;
}

header img {
  box-shadow: 0 0 30px #444;
  border-radius: 0 10px 0 0;
}

main {
  margin: 1rem auto;
  border: 1px solid yellow;
  padding: 1.5rem;
  background-color: blue;
}

footer {
  margin: 1rem auto;
  border: 1px solid yellow;
  padding: 1.5rem;
  text-align: center;
  background-color: blue;
}

a { 
  color: red; 
}

a:hover { color: #78e335; 
} 
